/* Importing Roboto fonts with weights 300,400,500,700 and 900 using Google font api   */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Defining glabal color variables */
:root{
    --blood-red:#e50914;
    --white:#ffffff;
    --black:#000000;
    --border-color:#222;
}

/* Setting all elements outline property to none */
*{
    outline: none;
}

/* Material icons style */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Setting background color for body */
body{
    background-color: var(--black);
}

/* Setting anchor tag text decoration property to none */
a{
    text-decoration: none;
}

/* Defining max width for the elements and setting some distance from the screen bezels  */
.section-wrapper{
    max-width: 1500px;
    margin: auto;
    padding:0 50px;
}

/* Top section styling start */

/* Styling for lading page top section */
.top-screen-section{
    background: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.05)), url('../img/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Section bottom border style */
.section-border{
    border-bottom: 10px solid var(--border-color);
}

/* Setting top section dark overlay and applying bottom border to the section */
.dark-overlay{
    background-color: rgba(0,0,0,0.5);
    height: 695px;
    border-bottom: 10px solid var(--border-color);
}

/* Page header container styling */
.header-container{
    display: flex;
    padding: 25px 0;
}

/* Setting width for logo */
.svg-container svg{
    width: 150px;
}

/* Top right hand side controls container styling */
.top-controls{
    display: flex;
    margin-left: auto;
}

/* Style for language selector container */
.lang-selector{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 1px solid silver;
    color:var(--white);
    padding: 0;
    position: relative;
}

/* On focus state style on language selector */
.lang-selector:focus-within{
    border: 1px solid var(--white);
}

/* Language selector select field styling */
.lang-selector select{
    -webkit-appearance: none;
    padding: 12px 25px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

/* Language selectos select field options style */
.lang-selector select option{
    color: white;
    background-color: #222;
}

/* Positioning language selector icons */
.language-icon{
    position:absolute;top:9px;
}

/* language selector arrow icon style */
.arrow-icon{
    position:absolute;top:10px;right:0;
}

/* Top right sign in button styles */
.signin-button{
    padding: 15px 20px;
    background-color: var(--blood-red);
    border-radius: 5px;
}

/* Sign in button link styling */
.signin-button a{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

/* Applying margin left to top right controls */
.control-space{
    margin-left:30px
}

/* Top section heading */
.top-section-text{
    color: var(--white);
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
}

/* Large heading styles */
.heading-one{
    font-size: 50px;
    font-weight: 700;
    text-align: center;    
}

/* Medium heading styles */
.heading-two{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
}

/* Small heading styles */
.heading-three{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

/* Setting margin top for membership from container */
.form-container{
    margin-top: 40px;
}

/* Style for membership form */
.membership-form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

/* Email input filed style */
.input-field input{
    padding: 20px;
    width: 450px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

/* Get startede button styles */
.membership-button input{
    padding: 15px;
    width: 200px;
    border: none;
    background-color: var(--blood-red);
    color: var(--white);
    font-weight: 500;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

/* Email input field placeholder style */
.input-label{
    position: absolute;
    top:20px;
    font-size:20px;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

/* Floating eamil placeholder style */
.input-field input:valid ~ .input-label,
.input-field input[value=""] ~ .input-label,
.input-field input:focus ~ .input-label
{
    top:5px;
    font-size: 12px;
}

/* Media queries for top section*/

/* Media queries for top section at screen width 1024px and below*/
@media screen and (max-width:1024px){
    .dark-overlay{
        height: 650px;
    }

    .section-wrapper{
        padding:0 40px;
    }

    .heading-one{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }

    .membership-form{
        flex-direction: column;
    }

    .input-field{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    .input-field input{
        width: 300px;
    }

    .membership-button{
        display: flex;
        justify-content: center;
    }
    
    .membership-button input{
        width: 200px;
        padding: 10px;
    }
}

/* Media queries for top section at screen width 768px and below*/
@media screen and (max-width:768px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 30px;
    }

    .heading-one{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
}

/* Media queries for top section at screen width 480px and below */
@media screen and (max-width:480px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 20px;
    }

    .svg-container svg{
        width: 100px;
        height: 30px;
    }

    .lang-selector select{
        padding: 7px 25px;
    }
    
    .signin-button{
        padding:7px 10px;
    }

    .control-space{
        margin-left: 10px;
    }

    .heading-one{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }

    .language-icon{
        position:absolute;top:5px;
        font-size: 0;
    }
    
    .arrow-icon{
        position:absolute;top:5px;right:0;
    }
    
    
}

/* Media queries for top section at screen width 320px*/
@media screen and (max-width:320px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 10px;
    }

    .svg-container svg{
        width: 120px;
    }

    .lang-selector select{
        padding: 7px 23px;
    }
    
    .signin-button{
        padding:7px 8px;
    }

    .control-space{
        margin-left: 10px;
    }

    .top-section-text{
        margin-top: 80px;
    }

    .heading-one{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}

/* Media queries for top section at screen width 319px and below*/
@media screen and (max-width:319px){
    .dark-overlay{
        height: 600px;
    }

    .header-container{
        flex-direction: column;
        align-items: center;
    }

    .lang-selector select{
        padding: 7px 25px;
    }

    .top-controls{
        margin: auto;
        padding: 10px 0px;
    }

    .heading-one{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .top-section-text{
        margin-top: 40px;
    }
    
    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}
/* Top section  styling end */


/* Infomatroy section  start*/

/* Section bottom border style */
.fancy-border{
    border-bottom: 10px solid #222;
}

/* Second and third section container */
.fancy-section{
    display: flex;
    background-color: black;
    font-family: 'Roboto',sans-serif;
}

/* Setting reverse flex direction for third and fifth section */
.fancy-reverse{
    flex-direction: row-reverse;
}

/* Styling section content */
.section-content{
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

/* Section text alignment */
.section-text-content{
    align-self: center;
}

/* Section heading text style */
.text-heading{
    font-size: 45px;
    margin: 10px 0;
    font-weight: bolder;
    padding: 0 50px;
}

/* Section sub-heading text style */
.text-sub-heading{
    font-size: 25px;
    padding: 0 50px;    
}

/* Section image wrapper style */
.section-img-wrapper{
    width: 50%;
    position: relative;
}

/* Card Start */

/* Setting flex property to a container */
.flex{
    display: flex;
}

/* Stranger things card container */
.st-container{
    position: absolute;
    top: 200px;
    height: 60px;
    background-color: black;
    width: 300px;
    display: flex;
    color: white;
    border-radius: 10px;
    padding:  10px 0;
    border:2px solid rgba(255,255,255,0.5);
    justify-content: space-around;
}

/* Stranger things image card container styles */
.st-img-container .img-block{
    height: 100%
}

/* Stranger things card image styles */
.st-img-container img{
    height: inherit;
    margin-right: 10px;
}

/* Stranger things card heading styles */
.st-section-heading{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

/* Stranger things text styles */
.st-section-text{
    font-weight: 400;
    color: skyblue;
    font-family: 'Roboto', sans-serif;
}

/* Style for aligning an element vertically align */
.valign{
    align-self: center;
}

/* Stranger things card gif height  */
.st-gif-container img{
    height: 50px;
}

/* End card of stranger things card styles */

/* Section image wrapper styles */
.section-img-wrapper{
    display: flex;justify-content: center;
    margin: 50px 0;
}

/* Positioning section image contents */
.section-img-content{
    position: relative;
}

/* Stlyles for section media container */
.media-container{
    width: 400px;
    height: 300px;
    background-color: black;
    position: relative;
}

/* Setting padding for video container */
.video-container{
    padding: 15.5% 14% 0% 13%;
}

/* Setting padding for I max video container */
.device-pile{
    padding: 7% 18% 15% 18%;
}

/* Styling dimensions for video container's video tag  */
.video-container video{
    width: 100%;
    height: 100%;
}

/* Styles for section image tag */
.img-container img{
    width: 100%;
    position: absolute;
    top: 0;
}

/* Media queries for section container  */

/* Media queries for section container at 768px and below  */
@media screen and (max-width:768px) {
    .fancy-section{
        flex-direction: column;
    }

    .section-content{
        width: 100%;
    }

    .section-img-wrapper{
        width: 100%;
    }

    .section-text-content{
        width: 100%;
    }
    
    .media-container{
        width: 100%;
        height: 100%px;
        background-color: black;
        position: relative;
    }

    .text-heading{
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
        padding: 0 20px;
    }
    
    .text-sub-heading{
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        padding: 0 20px;
    }
}

/* Media queries for section container at 420px and below  */
@media screen and (max-width:420px) {
    .text-heading{
        text-align: center;
        font-size: 32px;
        padding: 0 10px;
    }
    .text-sub-heading{
        text-align: center;
        font-size: 16px;
        padding: 0 10px;
    }
    
    .section-img-wrapper{
        margin: 0;
    }

}

/* Media queries for section container at 320px and below  */
@media screen and (max-width:320px) {
    .text-heading{
        text-align: center;
        font-size: 28px;
    }
    
    .text-sub-heading{
        text-align: center;
        font-size: 12px;
    }

}
/* Infomatroy section styles end */


/* FAQ section styles start */

/* Setting padding and margin bottom for faq section */
.faq-section-border{
    border-bottom: 10px solid #222;
    padding-bottom: 60px;
}

/* Faq section wrapper styles */
.faq-section-wrapper{
    display: flex;
    justify-content: center;
    color: var(--white);
}

/* Accordion wrapper styling */
.accordian-wrapper{
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* FAQ blocks heading style */
.faq-heading{
    margin-top: 25px;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
}

/* Accordion container style */
.accordian-container{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    width: 800px;
}

/* Accordion  bg color and padding styles */
.color-code{
    background-color: #303030;
    padding: 20px;
}

/* Accordion header styles */
.accordian-head{
    display: flex;
    font-size: 30px;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #303030;
}

/* Accordion head button styles */
.accordian-head button{
    text-align: left;
    padding: 20px;
    width: 100%;
    background-color: #303030;
    border: none;
    color:var(--white);
}

/* Accordion icon container style */
.accordin-icon-container{
    display: flex;
    justify-content: center;
}

/* Accordion icon style */
.accordian-icon{
    align-self: center;
    padding: 0 30px;
}

/* Accordion body container style */
.accordian-body{
    visibility: collapse;
    display: none;
    font-size: 25px;
}

/* Setting padding for accordion content */
.accordian-content{
    padding: 10px 0;
}

/* Focus-within state change behaviour styles for accordion  */
.accordian-head:focus-within ~ .accordian-body{
    visibility: visible;
    display: block;
}

/* Roating plus icon 45deg style on accodion state change style  */
.accordian-head button:focus-within ~ .accordin-icon-container .accordian-icon{
    transform: rotate(45deg);
}

/* Media queries for FAQ section */

/* Media queries for FAQ section at 1024px and below */
@media screen and (max-width:1024px){
    .faq-heading{
        font-size: 40px;
    }
}

/* Media queries for FAQ section at 768px and below */
@media screen and (max-width:768px){
    .faq-heading{
        font-size: 30px;
    }
}

/* Media queries for FAQ section at 420px and below */
@media screen and (max-width:420px){
    .faq-heading{
        font-size: 30px;
    }

    .accordian-head{
        font-size: 20px;
    }

    .section-wrapper{
        padding: 5px;
    }
}

/* Media queries for FAQ section at 320px and below */
@media screen and (max-width:320px){
    .faq-heading{
        font-size: 18px;
    }

    .accordian-head{
        font-size: 18px;
    }
}

/* FAQ section membership form  styles*/

/* Membership form container style*/
.faq-membership-container{
    display: flex;
    justify-content: center;
    padding: 50px 0 20px 0;
}

/* Membership form heading */
.faq-membership-heading{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}

/* Form container style */
.faq-form-control{
    display: flex;
    justify-content: center;
}

/* Positioning membership form input field container */
.faq-membership-input{
    position: relative;
}

/* Placehoder for email input field */
.faq-label{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 20px;
    left: 15px;
    font-weight: 500;
    color: gray;
}

/* Email input field style */
.faq-membership-input input{
    padding: 17px;
    border: none;
    font-size: 18px;
    width: 400px;
}

/* Floating placeholder style */
.faq-membership-input input:valid ~ .faq-label,
.faq-membership-input input:focus ~ .faq-label{
    top: 2px;
}

/* FAQ section get started button style */
.faq-membership-button button{
    padding: 15px;
    border: none;
    background-color: var(--blood-red);
    color: var(--white);
    font-size: 22px;
    width: 200px;
}

/* Media queries of faq membership form */

/* Media queries of faq membership form at 768px and below*/
@media screen and (max-width:768px) {
    .faq-form-control{
        flex-direction: column;
    }

    .faq-membership-input{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .faq-membership-input input{
        width: 100%;
    }

    .faq-membership-button{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    
}
/* FAQ section styling end */


/* Footer section styling start */

/* Defining a class for gray color */
.gray-color-text{
    color: gray;
}

/* Defining a class for white color */
.white-color-text{
    color: white;
}

/* Footer container style */
.footer{
    padding: 0.5% 12%;
    background-color: rgba(0,0,0,0.8);
    margin-top:50px;
    font-family: 'Roboto', sans-serif;
}

/* Question all text style */
.footer .question-on-call{
    margin-top: 10px;
}

/* Footer links container style */
.footer .footer-links{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* Footer link items style  */
.footer .footer-link-items{
    margin: 5px 0;
    width: 220px; 
}

/* Footer links items link style */
.footer .footer-link-items a{
    color: gray;
    font-size: 13px;
}

/* On hover state behaviour of footer link items link */
.footer .footer-link-items a:hover{
    text-decoration: underline;
}

/* Footer section language selector wrapper style */
.footer .lang-selector-wrapper{
    margin: 30px 0 30px 0;
}

/* Footer section language selector select element style */
.footer .lang-selector-footer select{
    -webkit-appearance: none;
    padding: 15px 30px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 1px solid rgba(192, 192, 192, 0.726);
    border-radius: 3px;
    font-size: 16px;
    color: gray;
}

/* On focus state change behaviour style on footer section language selector select element */
.footer .lang-selector-footer select:focus{
    border: 1px solid var(--white);
}

/* Netflix branding text styles */
.footer .netflix-india-text{
    font-size: 14px;
    color: gray;
    margin-bottom: 25px;
}

/* Positioning language selector container */
.lang-selector-footer{
    position: relative;
}

/* Language selector, language icons styles */
.footer-language-icon{
    color: gray;
    position: absolute;
    top: 12px;
    left: 5px;
}

/* Language selector, arrow icons styles */
.footer-arrow-icon{
    color: gray;
    position: absolute;
    top: 12px;
    left: 85px;
}

/* Media queries for footer section */

/* Media queries for footer section at 768px and below*/
@media screen and (max-width:768px) {
    .img-container img{
        top: -10px;
    }

    .video-container{
        padding-top:13%;
    }

    .section-text-content{
        margin: 10px 0;
    }
    
    .imac-video-container {
        padding-top: 3%;
    }
}

/* Media queries for footer section at 500px and below*/
@media screen and (max-width:500px){
    .footer{
        padding: 10px;
        background-color: rgba(0,0,0,0.8);
        margin-top:60px;
    }

    .footer .footer-link-items{
        margin: 5px 0;
        width: 170px; 
    }
}

/* Media queries for footer section at 360px and below*/
@media screen and (max-width:360px){
    .footer .footer-link-items{
        margin: 5px 0;
        width: 120px; 
    }
}
/* Footer section styles end */
