@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --blood-red:#e50914;
    --white:#ffffff;
    --black:#000000;
    --border-color:#222;
}

*{
    outline: none;
}

body{
    background-color: var(--black);
}

a{
    text-decoration: none;
}

.section-wrapper{
    max-width: 1500px;
    margin: auto;
    padding:0 50px;
}

.top-screen-section{
    background: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.05)), url('../img/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.section-border{
    border-bottom: 10px solid var(--border-color);
}

.dark-overlay{
    background-color: rgba(0,0,0,0.5);
    height: 695px;
    border-bottom: 10px solid var(--border-color);
}

.header-container{
    display: flex;
    padding: 25px 0;
}

.svg-container svg{
    width: 150px;
}

.top-controls{
    display: flex;
    margin-left: auto;
}

.lang-selector{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 1px solid silver;
    color:var(--white);
    padding: 0;
}

.lang-selector:focus-within{
    border: 1px solid var(--white);
}

.lang-selector select{
    -webkit-appearance: none;
    padding: 12px 20px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.lang-selector select option{
    color: white;
    background-color: #222;
}

.signin-button{
    padding: 15px 20px;
    background-color: var(--blood-red);
    border-radius: 5px;
}

.signin-button a{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.control-space{
    margin-left:30px
}

.top-section-text{
    color: var(--white);
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
}

.heading-one{
    font-size: 50px;
    font-weight: 700;
    text-align: center;    
}

.heading-two{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
}

.heading-three{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.form-container{
    margin-top: 40px;
}

.membership-form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.input-field input{
    padding: 20px;
    width: 450px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.membership-button input{
    padding: 15px;
    width: 200px;
    border: none;
    background-color: var(--blood-red);
    color: var(--white);
    font-weight: 500;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}


.input-label{
    position: absolute;
    top:20px;
    font-size:20px;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.input-field input:valid ~ .input-label,
.input-field input[value=""] ~ .input-label,
.input-field input:focus ~ .input-label
{
    top:5px;
    font-size: 12px;
}

/* media */

@media screen and (max-width:1024px){
    .dark-overlay{
        height: 650px;
    }

    .section-wrapper{
        padding:0 40px;
    }

    .heading-one{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }

    .membership-form{
        flex-direction: column;
    }

    .input-field{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    .input-field input{
        width: 300px;
    }

    .membership-button{
        display: flex;
        justify-content: center;
    }
    
    .membership-button input{
        width: 200px;
        padding: 10px;
    }
}

@media screen and (max-width:768px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 30px;
    }

    .heading-one{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
}


@media screen and (max-width:480px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 20px;
    }

    .svg-container svg{
        width: 100px;
        height: 30px;
    }

    .lang-selector select{
        padding: 7px 20px;
    }
    
    .signin-button{
        padding:7px 10px;
    }

    .control-space{
        margin-left: 10px;
    }

    .heading-one{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}

@media screen and (max-width:320px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 10px;
    }

    .svg-container svg{
        width: 120px;
    }

    .lang-selector select{
        padding: 7px 20px;
    }
    
    .signin-button{
        padding:7px 10px;
    }

    .control-space{
        margin-left: 10px;
    }

    .top-section-text{
        margin-top: 80px;
    }

    .heading-one{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}

@media screen and (max-width:319px){
    .dark-overlay{
        height: 600px;
    }

    .header-container{
        flex-direction: column;
        align-items: center;
    }

    .top-controls{
        margin: auto;
        padding: 10px 0px;
    }

    .heading-one{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .top-section-text{
        margin-top: 40px;
    }
    
    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}

/* fancy section */

.fancy-border{
    border-bottom: 10px solid #222;
}

.fancy-section{
    display: flex;
    background-color: black;
    font-family: 'Roboto',sans-serif;
}

.fancy-reverse{
    flex-direction: row-reverse;
}

.section-content{
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.section-text-content{
    align-self: center;
}

.text-heading{
    font-size: 50px;
    margin: 10px 0;
    font-weight: bolder;
    padding: 0 50px;
}

.text-sub-heading{
    font-size: 20px;
    padding: 0 50px;    
}

.section-img-wrapper{
    width: 50%;
}

.section-img-wrapper{
    display: flex;justify-content: center;
    margin: 50px 0;
}

.section-img-content{
    position: relative;
}

.media-container{
    width: 400px;
    height: 300px;
    background-color: black;
    position: relative;
}

.video-container{
    padding: 15.5% 14% 0% 13%;
}

.device-pile{
    padding: 7% 18% 15% 18%;
}

.video-container video{
    width: 100%;
    height: 100%;
}

.img-container img{
    width: 100%;
    position: absolute;
    top: 0;
}


@media screen and (max-width:1024px) {
    
    
}

@media screen and (max-width:768px) {
    .fancy-section{
        flex-direction: column;
    }

    .section-content{
        width: 100%;
    }

    .section-img-wrapper{
        width: 100%;
    }

    .section-text-content{
        width: 100%;
    }
    

    .media-container{
        width: 100%;
        height: 100%px;
        background-color: black;
        position: relative;
    }

    .text-heading{
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
        padding: 0 20px;
    }
    
    .text-sub-heading{
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        padding: 0 20px;
    }
    
}

@media screen and (max-width:420px) {
    .text-heading{
        text-align: center;
        font-size: 32px;
        padding: 0 10px;
    }
    
    .text-sub-heading{
        text-align: center;
        font-size: 16px;
        padding: 0 10px;
    }
    
    .section-img-wrapper{
        margin: 0;
    }

}

@media screen and (max-width:320px) {
    .text-heading{
        text-align: center;
        font-size: 28px;
    }
    
    .text-sub-heading{
        text-align: center;
        font-size: 12px;
    }

}


/* faq styles */

.faq-section-border{
    border-bottom: 10px solid #222;
    padding-bottom: 60px;
}

.faq-section-wrapper{
    display: flex;
    justify-content: center;
    color: var(--white);
}

.accordian-wrapper{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.faq-heading{
    margin-top: 25px;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 40px;
}

.accordian-container{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    width: 800px;
}

.color-code{
    background-color: #303030;
    padding: 20px;
}

.accordian-head{
    display: flex;
    font-size: 30px;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #303030;
}

.accordian-head button{
    text-align: left;
    padding: 20px;
    width: 100%;
    background-color: #303030;
    border: none;
    color:var(--white);
}

.accordin-icon-container{
    display: flex;
    justify-content: center;
}

.accordian-icon{
    align-self: center;
    padding: 0 30px;
}

.accordian-body{
    visibility: collapse;
    display: none;
    font-size: 25px;
}

.accordian-content{
    padding: 10px 0;
}

.accordian-head:focus-within ~ .accordian-body{
    visibility: visible;
    display: block;
}


@media screen and (max-width:1024px){
    .faq-heading{
        font-size: 40px;
    }
}

@media screen and (max-width:768px){
    .faq-heading{
        font-size: 30px;
    }
}

@media screen and (max-width:420px){
    .faq-heading{
        font-size: 30px;
    }

    .accordian-head{
        font-size: 20px;
    }

    .section-wrapper{
        padding: 5px;
    }
}

@media screen and (max-width:320px){
    .faq-heading{
        font-size: 18px;
    }

    .accordian-head{
        font-size: 18px;
    }
}



/* membership form */

.faq-membership-container{
    display: flex;
    justify-content: center;
    padding: 50px 0 20px 0;
}

.faq-membership-heading{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}

.faq-form-control{
    display: flex;
    justify-content: center;
}

.faq-membership-input{
    position: relative;
}

.faq-label{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 20px;
    left: 15px;
    font-weight: 500;
    color: gray;
}

.faq-membership-input input{
    padding: 17px;
    border: none;
    font-size: 18px;
    width: 400px;
}

.faq-membership-input input:valid ~ .faq-label,
.faq-membership-input input:focus ~ .faq-label{
    top: 2px;
}

.faq-membership-button button{
    padding: 15px;
    border: none;
    background-color: var(--blood-red);
    color: var(--white);
    font-size: 22px;
    width: 200px;
}

@media screen and (max-width:768px) {
    .faq-form-control{
        flex-direction: column;
    }

    .faq-membership-input{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .faq-membership-input input{
        width: 100%;
    }

    .faq-membership-button{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    
}


/* footer */

.gray-color-text{
    color: gray;
}

.white-color-text{
    color: white;
}

.footer{
    padding: 0.5% 12%;
    background-color: rgba(0,0,0,0.8);
    margin-top:50px;
    font-family: 'Roboto', sans-serif;
}

.footer .question-on-call{
    margin-top: 10px;
}

.footer .footer-links{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
}

.footer .footer-link-items{
    margin: 5px 0;
    width: 220px; 
}

.footer .footer-link-items a{
    color: gray;
    font-size: 13px;
}

.footer .footer-link-items a:hover{
    text-decoration: underline;
}

.footer .lang-selector-wrapper{
    margin: 30px 0 30px 0;
}

.footer .lang-selector-footer select{
    padding: 15px 25px 15px 25px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 1px solid rgba(192, 192, 192, 0.726);
    border-radius: 3px;
    font-size: 16px;
    color: gray;
}

.footer .lang-selector-footer select:focus{
    border: 1px solid var(--white);
}

.footer .netflix-india-text{
    font-size: 14px;
    color: gray;
    margin-bottom: 25px;
}


@media screen and (max-width:500px){
    .footer{
        padding: 10px;
        background-color: rgba(0,0,0,0.8);
        margin-top:60px;
    }

    .footer .footer-link-items{
        margin: 5px 0;
        width: 170px; 
    }
}

@media screen and (max-width:360px){
    .footer .footer-link-items{
        margin: 5px 0;
        width: 120px; 
    }
}