@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --blood-red:#e50914;
    --white:#ffffff;
    --black:#000000;
    --border-color:#222;
}

*{
    outline: none;
}

body{
    background-color: var(--black);
}

a{
    text-decoration: none;
}

.top-screen-section{
    background-image: url('../img/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-wrapper{
    max-width: 1500px;
    margin: auto;
    padding:0 50px;
}

.section-border{
    border-bottom: 10px solid var(--border-color);
}

.dark-overlay{
    background-color: rgba(0,0,0,0.5);
    height: 695px;
    border-bottom: 10px solid var(--border-color);
}

.header-container{
    display: flex;
    padding: 25px 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.9),rgba(0,0,0,0.05));
}

.svg-container svg{
    width: 150px;
}

.top-controls{
    display: flex;
    margin-left: auto;
}

.lang-selector{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    border: 1px solid silver;
    color:var(--white);
    padding: 0;
}

.lang-selector:focus-within{
    border: 1px solid var(--white);
}

.lang-selector select{
    -webkit-appearance: none;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.lang-selector select option{
    color: white;
    background-color: #222;
}

.signin-button{
    padding: 10px 20px;
    background-color: var(--blood-red);
    border-radius: 5px;
}

.signin-button a{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.control-space{
    margin-left:30px
}

.top-section-text{
    color: var(--white);
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
}

.heading-one{
    font-size: 50px;
    font-weight: 700;
    text-align: center;    
}

.heading-two{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
}

.heading-three{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.membership-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.input-field input{
    padding: 20px;
    width: 450px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.membership-button input{
    padding: 15px;
    width: 200px;
    border: none;
    background-color: var(--blood-red);
    color: var(--white);
    font-weight: 500;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}


.input-label{
    position: absolute;
    top:20px;
    font-size:20px;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.input-field input:valid ~ .input-label,
.input-field input[value=""] ~ .input-label,
.input-field input:focus ~ .input-label
{
    top:5px;
    font-size: 12px;
}

/* media */

@media screen and (max-width:1024px){
    .dark-overlay{
        height: 650px;
    }

    .section-wrapper{
        padding:0 50px;
    }

    .heading-one{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }

    .membership-form{
        flex-direction: column;
    }

    .input-field{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    .input-field input{
        width: 300px;
    }

    .membership-button{
        display: flex;
        justify-content: center;
    }
    
    .membership-button input{
        width: 200px;
        padding: 10px;
    }
}

@media screen and (max-width:768px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 50px;
    }

    .heading-one{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
}


@media screen and (max-width:480px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 20px;
    }

    .svg-container svg{
        width: 100px;
        height: 30px;
    }

    .lang-selector select{
        padding: 7px 20px;
    }
    
    .signin-button{
        padding:7px 10px;
    }

    .control-space{
        margin-left: 10px;
    }

    .heading-one{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .top-section-text{
        margin-top: 100px;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}

@media screen and (max-width:320px){
    .dark-overlay{
        height: 600px;
    }

    .section-wrapper{
        padding:0 10px;
    }

    .svg-container svg{
        width: 100px;
        height: 30px;
    }

    .lang-selector select{
        padding: 7px 20px;
    }
    
    .signin-button{
        padding:7px 10px;
    }

    .control-space{
        margin-left: 10px;
    }

    .top-section-text{
        margin-top: 80px;
    }

    .heading-one{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}

@media screen and (max-width:319px){
    .dark-overlay{
        height: 600px;
    }

    .header-container{
        flex-direction: column;
        align-items: center;
    }

    .top-controls{
        margin: auto;
        padding: 10px 0px;
    }

    .heading-one{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .top-section-text{
        margin-top: 40px;
    }
    
    .heading-two{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
    
}